[submodule "apache/src"]
	path = apache/src
	url = http://ips-labs.unil.ch:1337/PiAnoS/src.git
[submodule "apache/cdn"]
	path = apache/cdn
	url = http://ips-labs.unil.ch:1337/PiAnoS/cdn.git
[submodule "apache/libs"]
	path = apache/libs
	url = http://ips-labs.unil.ch:1337/PiAnoS/php_classes.git
