[submodule "apache/src"]
	path = apache/src
url=https://ips-labs-backend.unil.ch/PiAnoS/src.git
[submodule "apache/cdn"]
	path = apache/cdn
url=https://ips-labs-backend.unil.ch/PiAnoS/cdn.git
[submodule "apache/libs"]
	path = apache/libs
url=https://ips-labs-backend.unil.ch/PiAnoS/php_classes.git